.container#img-div
    figure
        img#image(src="./img/gracehopper.jpg", alt="Grace Hopper")
        figcaption#img-caption Grace Hopper was one of the original programmers, and she never took no for an answer.
