.half-container#tribute-info
    p.timeline Here's a time line of Grace Hopper's life:
    ul
        li <strong>1906</strong> - Born in New York City
        li <strong>1924</strong> - Grace went to Graham High School
        li <strong>1930</strong> - She receives her bachelors degree in mathematics and physics
        li <strong>1931</strong> - Grace gets arried to Vincent Foster Hopper
        li <strong>1943</strong> - Grace joins W.A.V.E.S, a naval branch reserve
        li <strong>1952</strong> - Grace develops the first computer compiler called the A-0 system
        li <strong>1969</strong> - Grace is the first person named computer science Man of The Year by the data processing management association
        li <strong>1973</strong> - Grace became the only woman and only american to be a distinguished member of the British Computer Society
        li <strong>1983</strong> - Grace's work was recognized by her promotion to the rank of Commodore
        li <strong>1985</strong> - At the age of seventy-nine she became a Rear Admiral
        li <strong>1992</strong> - At eighty-five years old, she suffered a heart attack in her sleep and passed away. She was buried in Arlington National Cemetery