.container
    p.half-container.wikipedia-link If you have time, you should read more about this incredible human being on her 
        a#tribute-link(href="https://en.wikipedia.org/wiki/Grace_Hopper", target="_blank") wikipedia entry