doctype html
html
    head
        title= title
        link(rel="stylesheet", href="./css/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway")
    
    body
        .container-fluid
            #main
                include partials/header.pug
                include partials/image.pug
                include partials/timeline.pug
                include partials/quote.pug
                include partials/wikipedia.pug